[Unit]
Description=Lock screen before suspend
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/var/myscripts/lock
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
